asgiref==3.5.2  
backports-zoneinfo==0.2.1   
ca-certificates==2022.10.11           
certifi==2022.9.24        
django==  4.1.3   
openssl==1.1.1s            
pillow==9.3.0   
pip==22.2.2         
python==3.8.15               
setuptools==65.5.0           
sqlite==  3.39.3               
sqlparse==0.4.3   
tzdata==2022.6  
vc==14.2
vs2015_runtime==14.27.29016     
wheel==0.37.1  
wincertstore==0.2