body {
    background-color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px), 
                      linear-gradient(90deg, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
    background-size: 50px 50px;
}

.nav-icon {
    width: 35px;
    height: 35px;
    transition: transform 0.3s ease;
}

.nav-icon:hover {
    transform: scale(1.1);
}

.social-icons {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.social-icons .nav-link {
  padding: 0.5rem;
  display: flex;
  align-items: center;
}